.gist .pl-c{color:#969896}.gist .pl-c1,.gist .pl-mdh,.gist .pl-mm,.gist .pl-mp,.gist .pl-mr,.gist .pl-s1 .pl-v,.gist .pl-s3,.gist .pl-sc,.gist .pl-sv{color:#0086b3}.gist .pl-e,.gist .pl-en{color:#795da3}.gist .pl-s1 .pl-s2,.gist .pl-smi,.gist .pl-smp,.gist .pl-stj,.gist .pl-vo,.gist .pl-vpf{color:#333}.gist .pl-ent{color:#63a35c}.gist .pl-k,.gist .pl-s,.gist .pl-st{color:#a71d5d}.gist .pl-pds,.gist .pl-s1,.gist .pl-s1 .pl-pse .pl-s2,.gist .pl-sr,.gist .pl-sr .pl-cce,.gist .pl-sr .pl-sra,.gist .pl-sr .pl-sre,.gist .pl-src{color:#df5000}.gist .pl-mo,.gist .pl-v{color:#1d3e81}.gist .pl-id{color:#b52a1d}.gist .pl-ii{background-color:#b52a1d;color:#f8f8f8}.gist .pl-sr .pl-cce{color:#63a35c;font-weight:bold}.gist .pl-ml{color:#693a17}.gist .pl-mh,.gist .pl-mh .pl-en,.gist .pl-ms{color:#1d3e81;font-weight:bold}.gist .pl-mq{color:#008080}.gist .pl-mi{color:#333;font-style:italic}.gist .pl-mb{color:#333;font-weight:bold}.gist .pl-md,.gist .pl-mdhf{background-color:#ffecec;color:#bd2c00}.gist .pl-mdht,.gist .pl-mi1{background-color:#eaffea;color:#55a532}.gist .pl-mdr{color:#795da3;font-weight:bold}.gist .render-viewer-error,.gist .render-viewer-fatal,.gist .octospinner{display:none}.gist .gist-render iframe{width:100%}.gist pre,.gist code{font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace !important;white-space:pre}.gist .gist-file{margin-bottom:1em;font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;border:1px solid #ddd;border-bottom:1px solid #ccc;border-radius:3px}.gist .gist-file.gist-render{border:0}.gist .gist-meta{padding:10px;overflow:hidden;font:12px Helvetica, arial, freesans, clean, sans-serif;color:#999;background-color:#f7f7f7}.gist .gist-meta a{font-weight:bold;color:#666;text-decoration:none}.gist .gist-data{overflow:auto;word-wrap:normal;background-color:#fff;border-bottom:1px solid #ddd}.gist .file-data{font-size:12px;line-height:1.4}.gist .gist-file.scroll .gist-data{position:absolute;top:0;right:0;bottom:30px;left:0;overflow:scroll}.gist .gist-file.scroll .gist-meta{position:absolute;right:0;bottom:0;left:0}.gist .line-data{padding:.5em !important}.gist .line-pre{padding:0 !important;margin:0 !important;font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace !important;font-size:100% !important;line-height:inherit !important;background:transparent !important;border:0 !important}.gist .gist-highlight{background:transparent !important}.gist .line-numbers{padding:.5em;color:#aaa;text-align:right;background-color:#fff;border-right:1px solid #eee;line-height:1.4}.gist .line-number{display:block;clear:right}
article span.octicon.octicon-link {
		display:none;
}
.gist .render-container .render-viewer-error,.gist .render-container .render-viewer-fatal,.gist .render-container .octospinner{
	display:none
}

.gist .gist-render iframe{
	width:100%
}

.gist pre{
	font:inherit;
	line-height:inherit;
	white-space:pre;
}

.gist .gist-file{
	border:1px solid #ddd;
	border-bottom:1px solid #ccc;
	border-radius:3px;
	font-family:Consolas, "Liberation Mono", Courier, monospace;
	margin-bottom:1em
}

.gist .gist-file.gist-render{
	border:none
}

.gist .gist-file .gist-meta{
	font:12px "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
	text-shadow:1px 1px rgba(255,255,255,0.8);
	overflow:hidden;
	color:#999;
	padding:10px;
}

.gist .gist-file .gist-meta a{
	font-weight:bold;
	color:#666;
	text-decoration:none
}

.gist .gist-file .gist-data{
	overflow:auto;
	word-wrap:normal;
	font-size:100%
}

.gist .gist-file.scroll .gist-data{
	position:absolute;
	top:0px;
	right:0px;
	bottom:30px;
	left:0px;
	overflow:scroll
}

.gist .gist-file.scroll .gist-meta{
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px
}

.gist .gist-file .gist-data .line-data{
	padding:.5em !important
}

.gist .gist-file .gist-data .line-pre{
	font-family:Consolas, "Liberation Mono", Courier, monospace;
	background:transparent !important;
	border:none !important;
	margin:0 !important;
	padding:0 !important
}

.gist .gist-file .gist-data .gist-highlight{
	background:transparent !important
}

.gist .gist-file .gist-data .line-numbers{
	background-color:#ececec;
	color:#aaa;
	border-right:1px solid #ddd;
	text-align:right;
	padding:.5em
}

.gist .gist-file .gist-data .line-numbers .line-number{
	clear:right;
	display:block
}
